<div class="row">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-3">
        Email :
    </div>
    <div class="col-sm-4">
        <input name="email">
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Password :
    </div>
    <div class="col-sm-4">
        <input type="password" name="pwd">
</div>
</div>
<div class="row">
    <div class="col-sm-3">
        Confirm :
    </div>
    <div class="col-sm-4">
        <input type="password" name="pwd">
</div>
</div>
<div class="row">
    <div class="col-sm-3">
        Gender :
    </div>
    <div class="col-sm-4">
        <input type="password" name="pwd">
</div>
<div class="col-sm-12">
        <button class="btn btn-sm btn-primary">submit</button>
    </div>
    
</div>
<hr>